<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Framework.Listeners"/>
<listener class-name="resources.ExtentReporterNG"/>
</listeners>

  <test thread-count="5" name="Test1">
    <classes>
      <class name="Framework.HomePage"/>
     </classes>
  </test>    
  
  <test thread-count="5" name="Test2">    
      <classes>
      <class name="Framework.ValidateTitle"/>
      </classes>
  </test>
  
  <test thread-count="5" name="Test3">    
      <classes>
      <class name="Framework.ValidateNavBar"/>
      </classes>
   </test> 
</suite> 
